---
title: Welcome!
description: Welcome to Spencer Fairchild's personal blog
---
<div class="flex flex-col space-y-6 text-lg">
  <h1 class="text-stone-900 text-7xl font-bold tracking-tighter mt-6 mb-4">
    Welcome
  </h1>
  <p>Hey! I'm Spencer.</p>
  <p>I'm a Software Engineer at <%= link_to("OliverIQ", "https://oliveriq.com/#", target: "_blank") %>. I currently write code to interact with any kind of smarthome device you can imagine in Typescript and Go.</p>
  <p>I have experience with Go, Javascript, Vue.js, Ruby on Rails, and Swift. I've written web apps used by hundreds of thousands of people a day and mobile apps used by <i>no one</i>.</p>

  <p>The best way to contact me is through email at <a href="mailto:me@spencerfairchild.com">me@spencerfairchild.com</a>
  <p>I'm not big on social media, but you can also reach out to me on <%= link_to("LinkedIn", "https://www.linkedin.com/in/spencer-fairchild-1906691a6/", target: "_blank") %>.</p>
</div>
